<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Functional Suite">
	<groups>
		<run>
			<include name="functional"></include>
		</run>
	</groups>
	<test name="Login Test">
		<classes>
			<class name="TestNG.TestCase1" />
		</classes>
	</test> <!-- Test -->

	<test name="Validate Title">
		<classes>

			<class name="TestNG.TestCase2" />
		</classes>
	</test>
</suite> <!-- Suite -->
